.formacao {
  background: #141414;
  color: white;
}

.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formacao .subtitulo {
  color: #000;
  font-size: 5rem;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffff;

}

.faculdade-bacharel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  background: #000;
  padding: 20px;
  border-radius: 4px;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 5px;
  height: 20px;
  background: linear-gradient(#ee4714, #ee5324);
  position: absolute;
  top: -10px;
  left: -24px;
}

.faculdade-curso {
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin-bottom: 15px;
  position: relative;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.titulo-cursos {
  margin-bottom: 10px;
}

.formacao-extra {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}



.cursos::before {
  background: url("./img/cursos.svg") no-repeat center center;
  display: inline-block;
  content: "";
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -2px;
}

.idiomas::before {
  background: url("./img/idiomas.svg") no-repeat center center;
  display: inline-block;
  content: "";
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -2px;
}

.titulo-cursos {
  color: #ffffff; 
}

.cursos li,
.idiomas li {
  color: #FFFFFF; 
  line-height: 1.8;
  font-size: 1.125rem;
}

.cursos span,
.idiomas span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
    margin-left: 30px;
  }
  .formacao-extra {
    color: #ffffff;
    font-size: 1.25rem;
  }
.cursos::before,
.idiomas::before {
    top: 4px; 
}
.formacao .subtitulo {
  font-size: 3rem;
  max-width: 9ch;
}
}


